@addTagHelper "*, AspNet5Demo.Web"

<!DOCTYPE html>

<html>
<head>
    <title>Hello</title>
</head>
<body>
<div>
    <cite>Yummy!</cite>

    <googlemap query="Barnhusgatan 20, Stockholm" width="500" height="500"></googlemap>
</div>
</body>
</html>